################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MalweeTestApplication/MalweeTest.Web/bin
